@use "src/styles/variables/colors.variables" as colors
@use "src/styles/variables/typography.variables" as typography

.showcase-message
  height: 450px
  box-sizing: border-box
  background-color: colors.$neutral-10
  overflow: scroll
  padding: 16px 0




